SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
FRONTEND_ORIGIN=http://localhost:3000
DB_ENGINE=postgresql
DB_NAME=assembleiadigital
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432